<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Edit Platform Username</title>
</head>
<body>
    <h1>Edit Username for {{ platform.platform_name }}</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ platform_form.as_p }}
        <button type="submit">Save Changes</button>
    </form>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
